.hg
*.i
*.Po
*.pyc
*.Tpo
*.Plo
*.loT
*.a
*.la
*.o
*.lo
*~
.deps/*
.dirstamp
.libs/*
*/autom4te.cache/*

Makefile
Makefile.in
aclocal.m4
autom4te.cache/*
config.guess
config.h
config.h.in
config.log
config.status
config.sub
configure
depcomp
ext-gmock/gmock_test
install-sh
libtool
ltmain.sh
missing
stamp-h1
src/main
